# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
terraform.tfvars.json

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp

# Provider binaries and executables
*.exe
*.zip

# Local binaries / caches
bin/
build/
